@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto' !important;
    width: 100%;
    height: 100%;
    background: rgba(242, 248, 252, 1);

}
.outer-border{
width:100%;
max-width: 468px;
height:200vh;
max-height: 970px;
border: 6px solid #3F3E3B;
padding-block: 4px;
padding-inline: 2px;
border-radius: 70px;
background: rgba(242, 248, 252, 1);
/* padding: 10px; */
overflow: hidden;

}
 .main-div
 {
position: relative;
display: flex;
overflow: hidden;
border: 10px solid black;
width: 100%;
height: 100%;
border-radius: 60px;
padding:10px;
/* margin: 1rem;
top: 40px; */
}

.img-position{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 13px;
}
.img-position li{
    margin: 2px;
}
.time{
    margin-left: 43px; 
}
/* .nav-2 ul ,.profile ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 20px;
    /* border: 1px solid; */
     
 
.profile{
    /* width: 395px; */
    margin-inline: 15px;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 55px;
     
}
/* .profile ul{
    border: 1px solid;
} */
.profile-photo 
{
     /* position: absolute; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    border: 5px solid rgba(236, 234, 249, 1);
    border-radius: 12px;
    /* margin-left: 145px; */
    margin-top: -35px;
     
}
.left-arrow{
    /* border: 1px solid; */
    /* margin-left: -10px; */
    padding-inline: 35px;
    margin-top: 60px !important;
}
.mentor-pro
{
    margin-right: 10px;
}
.love-img{
  
 background-color: linear-gradient(146.94deg, #0720FF 19.71%, #9018CD 49.3%, #B316C0 81.35%);
/* border: 1px solid; */
 
}
 
.btn{
    border: 1px solid ;
}
.profile .btn-style
{
    /* border: 5px solid red; */
    width: 82px;
    height: 36px;
    padding: 0 5px;
    background-color: #F2F8FC;
    margin-top: 20px;
}
.profile li{
    text-align: center;
}
.profile-name{
    /* border: 1px solid ; */
    font-weight: 700;
    font-size: 20px;
    line-height: 23.4px;
}
.profile-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
}
.profile .btn-social
{
width: 50.94px;
height: 50.94px;
border-radius: 5px;
background-color: #F2F8FC;
/* margin: 10px; */
}
.info-btn .btn-pro-info
{
    /* width: 108px; */
    
    height: 49px;
    border-radius: 8px;
    /* background-color: #ECEAF9; */
   /* color: black; */

    /* border: 1px solid; */
}
/* .btn-pro-info{
    border: 1px solid ;
} */
.profile-des
{
    width: 95%;
    align-items: center !important;
    justify-content: center;
    margin-top: 50px;

}

 a .career-footer{
font-size: 13px;
background-color:#F2F8FC;
padding: 10px !important;
color: #414042;
text-decoration: none !important;

}

a .enroll-footer{
    font-size: 13px;
    background: linear-gradient(to right, #5753e7, #361253);
    padding: 10px !important;
}
.footer-line{
    background: #f2f8fc;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    bottom: 0;
}
.line-style{
    background-color: black;
    padding: 2px;
    width: 35%;
}